$BLACK: #000;
$WHITE: #FFF;

$STROKE: #F3F3F3;

// Backgrounds
$AQUA: #B7EDF4;
$BLUE: #B7D7F4;
$ORANGE: #F4D8B7;
$YELLOW: #F4F2B7;
$PURPLE: #C0B7F4;
$GREEN: #B6EAB5;
$PINK: #F4B7D1;
$GRAY: #F3F3F3;
$LIGHTBLUE: #F4F7FE;

// Text
$AQUA_TEXT: #108696;
$ORANGE_TEXT: #C37B39;
$BLUE_TEXT: #4782B8;
$YELLOW_TEXT: #B49F36;
$GRAY_TEXT: #C4C4C4;